<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
      [opened]="!(isHandset | async)!.matches"
      >
      <mat-nav-list fxLayout="column" fxFlexFill style="padding-top:0">
        <mat-toolbar style="background-color:#007bc1; color:white;">
          <mat-toolbar-row style="height:72px; margin-left: 10px; margin-bottom: 42px;"><mat-icon style="font-size:64px; transform:rotate(42deg);">offline_bolt</mat-icon></mat-toolbar-row>
          <mat-toolbar-row style="height:4px;">
            <small>User Name</small>
          </mat-toolbar-row>
          <mat-toolbar-row  (click)="logout=!logout" fxLayout="row"
          style="cursor:pointer;">
            <small fxFlex>User@email.com</small>
            <mat-icon *ngIf="!logout">expand_more</mat-icon>
            <mat-icon *ngIf="logout">expand_less</mat-icon>
          </mat-toolbar-row>
      </mat-toolbar>
      <section [@slide] *ngIf="!logout" fxLayout="column">
         <h3 matSubheader style="margin-top:4px;">Monitor</h3>
       <mat-divider></mat-divider>
         <a mat-list-item routerLinkActive="active-link" routerLink="/alert" (click)="drawer.close()">
           <mat-icon matListIcon>move_to_inbox</mat-icon>
           Alerts
         </a>
       <a mat-list-item routerLinkActive="active-link" (click)="drawer.close()">
          <mat-icon matListIcon>send</mat-icon>
          Schedule
          </a>
       <a mat-list-item routerLinkActive="active-link" routerLink="/products" (click)="drawer.close()">
          <mat-icon matListIcon>folder</mat-icon>
          Products
          </a>
       <a mat-list-item routerLinkActive="active-link"  (click)="drawer.close()">
          <mat-icon matListIcon>info</mat-icon>
          Event Log
          </a>
       <a mat-list-item routerLinkActive="active-link" routerLink="/settings" (click)="drawer.close()">
          <mat-icon matListIcon>settings</mat-icon>
          Settings
          </a>
         
      </section>
      <section [@slide] *ngIf="logout">
         <h3 matSubheader style="margin-top:4px;">User Account</h3>
       <mat-divider></mat-divider>
         <a mat-list-item routerLinkActive="active-link" routerLink="/alert" (click)="drawer.close()">
           <mat-icon matListIcon>settings</mat-icon>
           User Profile
         </a>
       <a mat-list-item routerLinkActive="active-link" (click)="drawer.close()">
          <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
          Log Out
          </a>
      </section>
       <div fxFlex></div>
       <mat-divider></mat-divider>
       <div style="margin-top:10px;">
         <div matSubheader fxLayout="horizontal"> <span fxFlex>About</span>
         <span>Software Version X.X.X</span>
         </div>
       </div>
       <mat-divider></mat-divider>
       <a mat-list-item routerLinkActive="active-link" (click)="drawer.close()">
          <mat-icon matListIcon>flag</mat-icon>
          User Guide
          </a>
       <a mat-list-item routerLinkActive="active-link"  (click)="drawer.close()">
          <mat-icon matListIcon>local_offer</mat-icon>
          License Agreement
          </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar style="background-color:#007bc1; color:white;">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Selected Page Name</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  