<mat-sidenav-container class="app-container" (backdropClick)="open = false">
	<mat-sidenav #snav mode="over" class="sidenav" [opened]="open">
	 	<mat-nav-list fxLayout="column" fxFlexFill style="padding-top:0; overflow-x:hidden">
			<!-- Mobile Toolbar -->
			<mat-toolbar style="background-color:#007bc1; color:white; min-height:150px;">
				<mat-toolbar-row style="height:72px; margin-left: 10px; margin-bottom: 42px;">
					<mat-icon style="font-size:64px; transform:rotate(42deg);">offline_bolt</mat-icon>
				</mat-toolbar-row>
				<mat-toolbar-row style="height:4px;">
					<small>User Name</small>
				</mat-toolbar-row>
				<mat-toolbar-row (click)="userMenu=!userMenu" fxLayout="row" style="cursor:pointer;">
					<small fxFlex>User@email.com</small>
					<mat-icon *ngIf="!userMenu">expand_more</mat-icon>
					<mat-icon *ngIf="userMenu">expand_less</mat-icon>
				</mat-toolbar-row>
			</mat-toolbar>

			<mat-divider></mat-divider>
			<div class="navWrapper">
				<section *ngIf="!userMenu" fxLayout="column">
					<h3 matSubheader style="margin-top: 0">Monitor</h3>
					<mat-divider></mat-divider>
					<a mat-list-item [routerLinkActive]="['primaryLink']" routerLink="/alert">
						<mat-icon matListIcon class="nav-icon">move_to_inbox</mat-icon>
						Alerts
					</a>
					<a mat-list-item [routerLinkActive]="['primaryLink']" routerLink="/schedule">
						<mat-icon matListIcon class="nav-icon">send</mat-icon>
						Schedule
					</a>
					<a mat-list-item [routerLinkActive]="['primaryLink']" routerLink="/products">
						<mat-icon matListIcon class="nav-icon">folder</mat-icon>
						Products
					</a>
					<a mat-list-item [routerLinkActive]="['primaryLink']" routerLink="/events">
						<mat-icon matListIcon class="nav-icon">info</mat-icon>
						Event Log
					</a>
					<a mat-list-item [routerLinkActive]="['primaryLink']" routerLink="/settings">
						<mat-icon matListIcon class="nav-icon">settings</mat-icon>
						Settings
					</a>
				</section>
				<section *ngIf="userMenu" >
					<h3 matSubheader style="margin-top: 0">User Account</h3>
					<mat-divider></mat-divider>
					<a mat-list-item [routerLinkActive]="['primaryLink']" routerLink="/profile">
						<mat-icon matListIcon class="nav-icon">settings</mat-icon>
						User Profile
					</a>
					<a mat-list-item [routerLinkActive]="['primaryLink']" routerLink="/logout">
						<mat-icon matListIcon class="nav-icon">subdirectory_arrow_right</mat-icon>
						Log Out
					</a>
				</section>
				<mat-divider></mat-divider>
				<div fxFlex ></div>
				<mat-divider></mat-divider>

				<section >
					<h3 matSubheader style="margin-top: 0">About</h3>
					<mat-divider></mat-divider>
					<a mat-list-item [routerLinkActive]="['primaryLink']" routerLink="/guide">
						<mat-icon matListIcon class="nav-icon">flag</mat-icon>
						User Guide
					</a>
					<a mat-list-item [routerLinkActive]="['primaryLink']" routerLink="/license">
						<mat-icon matListIcon class="nav-icon">local_offer</mat-icon>
						License Agreement
					</a>
				</section>
		
			</div>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="nav-content">
		<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>