/* Add application styles & imports to this file! */
@import '~@pxblue/themes/angular/theme.scss';

html, body { 
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  //caution this will block text fields in safari
  user-select: none;
  box-sizing: border-box;
}
